<mat-sidenav-container>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="skills">
        {{ 'NAVIGATION_SKILLS' | translate }}
      </a>
      <a mat-list-item routerLink="skillrankings">
        {{ 'NAVIGATION_SKILL_RANKINGS' | translate }}
      </a>
      <a mat-list-item routerLink="skilltournamentrankings">
        {{ 'NAVIGATION_TOURNAMENT_SKILL_RANKINGS' | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
