<ng-template #fields>
  <ng-container [formGroup]="crudDetailOptions.form">
    <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEAM_NAME' | translate }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
    </div>
  </ng-container>
</ng-template>
<ysg-crud-detail
  [options]="crudDetailOptions"
  [fieldsTemplate]="fields"
></ysg-crud-detail>
<ysg-more-actions
  [button1Text]="'PLAYERS_PAGE_NAVIGATE_TO_PLAYERS_OF_TEAM'"
  (button1Click)="navigateToPlayersOfTeam()"
></ysg-more-actions>
