<ng-template #fields>
  <ng-container [formGroup]="crudDetailOptions.form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TEAM_NAME' | translate }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
    </div>
  </ng-container>
</ng-template>
<ysg-crud-detail
  [options]="crudDetailOptions"
  [fieldsTemplate]="fields"
></ysg-crud-detail>
<mat-card>
  <mat-card-subtitle>{{ 'MORE_ACTIONS' | translate }}</mat-card-subtitle>
  <button mat-stroked-button (click)="navigateToPlayersOfTeam()">
    {{ 'PLAYERS_PAGE_NAVIGATE_TO_PLAYERS_OF_TEAM' | translate }}
  </button>
</mat-card>
