<mat-toolbar color="primary">
  <button
    routerLink="home"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    YSG Manager
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="masterdata"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    Masterdata
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="skills"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    Skills
  </button>
  <span class="spacer"></span>
  <ysg-login></ysg-login>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
