<mat-toolbar color="primary">
  <button
    routerLink="home"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    {{ 'APP_TITLE' | translate }}
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="masterdata"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    {{ 'NAVIGATION_MASTERDATA' | translate }}
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="skills"
    mat-flat-button
    color="primary"
    routerLinkActive="active"
  >
    {{ 'NAVIGATION_SKILLS' | translate }}
  </button>
  <span class="spacer"></span>
  <ysg-language-picker></ysg-language-picker>
  <ysg-login></ysg-login>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
