<ysg-mobile-page-title [backRoute]="'skillsonice/ratinglist'">
  {{ 'SKILLS_ON_ICE_SKILL' | translate }} {{ selectedSkill?.number }}:
  {{ selectedTeam?.name }}
</ysg-mobile-page-title>
<ysg-player
  [(player)]="skillRating.player"
  (playerChange)="playerChanged()"
  [disablePositionToggle]="
    disablePlayerPositionToggle || loadingIndicator.isLoading
  "
></ysg-player>
<ysg-rating
  [(rating)]="skillRating.score"
  [disabled]="loadingIndicator.isLoading"
></ysg-rating>
<ysg-crud-buttons
  (deleteClicked)="delete()"
  [deleteDisabled]="loadingIndicator.isLoading"
  (cancelClicked)="cancel()"
  [cancelDisabled]="loadingIndicator.isLoading"
  (saveClicked)="save()"
  [saveDisabled]="
    loadingIndicator.isLoading ||
    !(skillRating.player.shirtNumber > 0 && skillRating.score > 0)
  "
>
</ysg-crud-buttons>
