.row-content {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 0.9em !important;
}

.row-content:first-child > span {
  margin-right: auto;
}

.row-content:last-child > span {
  margin-left: auto;
}

.skill-rating-player {
  margin-top: 5px;
  font-size: 1.08em !important;
}

.row-content mat-icon {
  margin-right: 4px;
  vertical-align: bottom;
}

.add-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
