<ysg-progress-bar
  [showProgress]="loadingIndicator.isLoading"
></ysg-progress-bar>

<ysg-mobile-page-title [backRoute]="'skillsonice/teamselection'">
  {{ 'SKILLS_ON_ICE_SKILL' | translate }} {{ selectedSkill?.number }}:
  {{ selectedTeam?.name }}
</ysg-mobile-page-title>

<mat-selection-list [multiple]="false">
  <mat-list-option
    *ngFor="let skillRating of skillRatings"
    [value]="skillRating"
  >
    <div class="row-content" (click)="editRating(skillRating)">
      <div class="row-content skill-rating-player">
        <span>
          #{{ skillRating.player.shirtNumber }}
          <span *ngIf="skillRating.player.position === 'GOALTENDER'"> TH </span>
        </span>
      </div>
      <div class="row-content">
        <span>
          <mat-icon>star</mat-icon>
          <span>{{ skillRating.score }}</span>
        </span>
      </div>
    </div>
  </mat-list-option>
</mat-selection-list>

<button
  mat-fab
  color="primary"
  class="add-button"
  *ngIf="!loadingIndicator.isLoading"
  (click)="createRating()"
>
  <mat-icon>add</mat-icon>
</button>
