<ysg-progress-bar
  [showProgress]="loadingIndicator.isLoading"
></ysg-progress-bar>

@if (selectedSkill) {
<ysg-mobile-page-title (backClicked)="navigateBack()">
  {{ 'SKILLS_ON_ICE_SKILL' | translate }} {{ selectedSkill?.number }}:
  {{ selectedTeam?.name }}
</ysg-mobile-page-title>
}

<mat-selection-list [multiple]="false" [hideSingleSelectionIndicator]="true">
  @for (skillRating of skillRatings(); track skillRating) {
  <mat-list-option [value]="skillRating">
    <div class="row-content" (click)="editRating(skillRating)">
      <div class="row-content skill-rating-player">
        <span>
          #{{ skillRating.player.shirtNumber }}
          @if (skillRating.player.position === 'GOALTENDER') {
          <span> TH </span>
          }
        </span>
      </div>
      <div class="row-content">
        <span>
          <mat-icon>star</mat-icon>
          <span>{{ skillRating.score }}</span>
        </span>
      </div>
    </div>
  </mat-list-option>
  }
</mat-selection-list>

@if (!loadingIndicator.isLoading) {
<button mat-fab color="primary" class="add-button" (click)="createRating()">
  <mat-icon>add</mat-icon>
</button>
}
