<mat-card>
  <form *ngIf="tournament$ | async; let tournament" [formGroup]="form">
    <h1>{{ tournament.name }}</h1>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TOURNAMENT_NAME' | translate }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'TOURNAMENT_DATE_DESCRIPTION' | translate }}</mat-label>
        <input matInput formControlName="dateDescription" />
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-stroked-button color="primary" (click)="save()">
        {{ 'SAVE' | translate }}
      </button>
      <button mat-stroked-button color="warn" (click)="cancel()">
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </form>
</mat-card>
