<mat-form-field appearance="fill">
  <mat-label>{{ 'SKILLS_ON_ICE_DETAIL_PLAYER_NUMBER' | translate }}</mat-label>
  <!-- do not use (keyup) instead of (change) to not trigger detection if result/rating
       already exists for this player -->
  <input
    #shirtNumber
    matInput
    type="number"
    inputmode="numeric"
    pattern="[0-9]*"
    autocomplete="off"
    [(ngModel)]="player.shirtNumber"
    (change)="shirtNumberChanged()"
  />
</mat-form-field>
<mat-button-toggle-group [value]="player.position">
  <mat-button-toggle
    (click)="playerPositionSelected(true)"
    [value]="positionSkater"
  >
    {{ 'SKILLS_ON_ICE_DETAIL_POSITION_SKATER' | translate }}
  </mat-button-toggle>
  <mat-button-toggle
    (click)="playerPositionSelected(false)"
    [value]="positionGoaltender"
  >
    {{ 'SKILLS_ON_ICE_DETAIL_POSITION_GOALTENDER' | translate }}
  </mat-button-toggle>
</mat-button-toggle-group>
