mat-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-card-subtitle mat-icon {
  margin-right: 5px;
  vertical-align: bottom;
}

.points-content {
  display: flex;
  justify-content: space-between;
}

.points-count {
  font-size: 35px;
  text-align: center;
}

.additional-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
