<mat-card>
  <mat-card-subtitle>
    <mat-icon>star</mat-icon>
    {{ 'SKILLS_ON_ICE_DETAIL_RATING' | translate }}</mat-card-subtitle
  >
  <div class="rating-content">
    <button
      mat-icon-button
      (click)="decreaseRating()"
      [disabled]="rating <= 0 || disabled"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <div class="rating-count">
      {{ rating }}
    </div>
    <button
      mat-icon-button
      (click)="increaseRating()"
      [disabled]="rating >= 100 || disabled"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="usual-ratings">
    <button mat-stroked-button (click)="setRating(70)" [disabled]="disabled">
      70
    </button>
    <button mat-stroked-button (click)="setRating(75)" [disabled]="disabled">
      75
    </button>
    <button mat-stroked-button (click)="setRating(80)" [disabled]="disabled">
      80
    </button>
    <button mat-stroked-button (click)="setRating(85)" [disabled]="disabled">
      85
    </button>
    <button mat-stroked-button (click)="setRating(90)" [disabled]="disabled">
      90
    </button>
    <button mat-stroked-button (click)="setRating(95)" [disabled]="disabled">
      95
    </button>
  </div>
</mat-card>
