<mat-card>
  <mat-card-subtitle>
    <mat-icon>timer</mat-icon>
    {{ 'SKILLS_ON_ICE_DETAIL_TIME' | translate }}</mat-card-subtitle
  >
  <div class="stopwatch-content">
    <button
      mat-icon-button
      color="warn"
      (click)="clearTimer()"
      [disabled]="disabled"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <div class="stopwatch-time">
      {{ counter | msToSeconds }}
    </div>
    <button
      mat-fab
      color="primary"
      (click)="startTimer()"
      *ngIf="!running"
      [disabled]="disabled"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      mat-fab
      color="primary"
      (click)="startTimer()"
      *ngIf="running"
      [disabled]="disabled"
    >
      <mat-icon>pause</mat-icon>
    </button>
  </div>
</mat-card>
