<mat-card>
  <mat-card-subtitle>{{
    'SKILLS_ON_ICE_DETAIL_TIME' | translate
  }}</mat-card-subtitle>
  <div class="stopwatch-content">
    <button mat-icon-button color="warn" (click)="clearTimer()">
      <mat-icon>delete</mat-icon>
    </button>
    <div class="stopwatch-time">
      {{ counter }}
    </div>
    <button mat-fab color="primary" (click)="startTimer()" *ngIf="!running">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="startTimer()" *ngIf="running">
      <mat-icon>pause</mat-icon>
    </button>
  </div>
</mat-card>
