mat-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-card-subtitle mat-icon {
  margin-right: 5px;
  vertical-align: bottom;
}

.stopwatch-content {
  display: flex;
  justify-content: space-between;
}

.stopwatch-time {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.arrow-buttons-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}
