<ysg-progress-bar
  [showProgress]="loadingIndicator.isLoading"
></ysg-progress-bar>
<ysg-mobile-page-title [disableBackLink]="true">
  {{ 'SKILLS_ON_ICE_SKILL_SELECTION' | translate }}
</ysg-mobile-page-title>

<!-- It's not possible for a mat-button-toggle-group to have no preselected option set
     with a value attribute on the mat-button-toggle. So use two groups which are
     visible / invisible accordingly. -->
@if (isRoleSelected()) {
<mat-button-toggle-group [(ngModel)]="isSkillChef">
  <mat-button-toggle (click)="roleToggleClicked(true)" [value]="true">
    {{ 'SKILLS_ON_ICE_SKILL_CHEF' | translate }}
  </mat-button-toggle>
  <mat-button-toggle (click)="roleToggleClicked(false)" [value]="false">
    {{ 'SKILLS_ON_ICE_SKILL_EXPERT' | translate }}
  </mat-button-toggle>
</mat-button-toggle-group>
} @else {
<mat-button-toggle-group>
  <mat-button-toggle (click)="roleToggleClicked(true)">
    {{ 'SKILLS_ON_ICE_SKILL_CHEF' | translate }}
  </mat-button-toggle>
  <mat-button-toggle (click)="roleToggleClicked(false)">
    {{ 'SKILLS_ON_ICE_SKILL_EXPERT' | translate }}
  </mat-button-toggle>
</mat-button-toggle-group>
} @if (isRoleSelected()) { @for (skill of skills(); track skill) { @if
(showSkill(skill)) {
<mat-card (click)="skillSelected(skill)">
  <mat-card-title> {{ skill?.number }} - {{ skill?.name }} </mat-card-title>
</mat-card>
} } }
