mat-button-toggle-group {
  width: 100%;
  margin-bottom: 20px;
}

mat-button-toggle {
  width: 50%;
}

mat-card {
  margin-bottom: 12px;
}

mat-card-title {
  font-weight: normal;
  font-size: medium;
}
